<h2>Cursos de {{instructor.first_name}}</h2>
<a class="button" href="./classes/new">Crear Curso</a>
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Class ID</th>
			<th>Class Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each instructor.classes}}
			<tr>
				<td>{{class_id}}</td>
				<td>{{class_title}}</td>
				<td><a href="/classes/{{class_id}}/lessons">Ver Lecciones</a></td>
				<td><a href="/instructors/classes/{{class_id}}/lessons/new">Agregar Lección</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>